* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    border: 20px solid #bdc3c7;
    padding: 20px;
    width: 700px;
    margin: 20px auto;
}


h1 {
    color: #2c3e50;
    margin-bottom: 15px;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom:15px;
    font-weight: 400;
}

.first {
    border-left: 4px solid #bdc3c7;
    padding-left: 3px;
}

p {
    color: #4E4C4E;
    margin-bottom: 15px;;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
